body{
    background-color: #473469;   
}

h1{
    font-family: 'Raleway', sans-serif;
    color: #f2e7d2;
    text-align: center;
    font-size: 2.5em;
}

.container{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
}

.divForm{
    padding: 2rem;
    box-shadow: 12px 10px 36px 1px rgba(0,0,0,0.53);
    -webkit-box-shadow: 12px 10px 36px 1px rgba(0,0,0,0.53);
    -moz-box-shadow: 12px 10px 36px 1px rgba(0,0,0,0.53);
    border-radius: 10px;
    background-color: #9c9a92;
}

/* Formatação dos inputs */
.divInput{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.divInput input{
    height: 5vh;
    margin: 0 2rem;
    padding: 10px;
    border: white 1px solid;
    border-radius: 10px;
    font-size: 1em;
}

.divInput input:focus{
    border: #ae8fba 1px dashed;
}

.divLink{
    text-align: center;
}

/* Formatação dos botões */
.divBotao{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
}

.divBotao button{
    background-color: #1c1131;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: bold;
}

.divBotao button:hover{
    background-color: #130c22;
    color: rgb(213, 213, 213);
}

.btnLogin{
    width: 7em;
    height: 3em;
}

.btnCadastrar{
    width: 10em;
    height: 3em;
}

.divLink p{
    margin-bottom: 0;
}
.link{
    text-decoration: none;
}