body{
    background-color: pink;
    text-align: center;
}

.container{
    margin: 0 200px;
    padding: 25px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: antiquewhite;

    display: flex;
    flex-direction: column;
    gap: 20px;
}